.side-bar
  .side-header
    .side-box
      %h3.header__name 
        = current_user.name
      %ul.header__lists
        %li.new-group
          = link_to do
            = icon('fas', 'pen-square', class: "icon")
        %li.edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "icon")
  .groups
    .group
      .group__name
        %p techcamp
      .group__message
        %p まだメッセージがありません
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ